{% extends "base_generic.html" %}

{% block title %}
    Food Product
{% endblock %}
{% block pagetitle %}
    Food Product
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <h4>Food: {{ mealfoodservings.food_product.product_name }}</h4>
        <h5>Portion: {{ mealfoodservings.portion }}</h5>
        <h5>Servings: {{ mealfoodservings.servings }}</h5>
    </div>
    <div class="row" style="margin-top:20px">
    <div class="col s5">
        <div>
            <h5>Ingredients:</h5>
            <table>
            <tbody>
                {% for ingredient in mealfoodservings.food_product.ingredients.all %}
                    <tr><td>{{ ingredient.ingredient_name }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <div class="col s5" style="margin-left: 50px">
        <div>
            <h5>Nutrients:</h5>
            <table>
            <tbody>
                {% for nutrient in mealfoodservings.food_product.foodnutrient_set.all %}
                    <tr><td>{{ nutrient.nutrient.nutrient_name }} - {% widthratio mealfoodservings.get_amount_ratio 1 nutrient.amount %} {{ nutrient.unit }}</td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
{% endblock %}