{% extends "base_generic.html" %}
{% load static %}

{% block title %}
    Meal Record
{% endblock %}
{% block pagetitle %}
    Meal Record
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4 center">
                {% if meal_list %}
                    <table>
                        <tbody>
                        {% for meal in meal_list %}
                            <tr><td><a href="{{ meal.get_absolute_url }}">{{ meal.timestamp }}</a></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no recorded meals.</p>
                {% endif %}
            </div>
            <div class="col s4"></div>
        </div>
    </div>
{% endblock %}