{% extends "base_generic.html" %}
{% load materializecss %}
{% load static %}

{% block title %}
    Add Meal
{% endblock %}
{% block pagetitle %}
    Add Meal
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col s4">
            <br>
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form|materializecss }}
                </table>

                <a class="waves-effect waves-light btn btn-large modal-trigger red" href="#foodProductModal">
                    <i class="material-icons">add</i> Add Food Product
                </a>

                <br>

                <div id="foodList"></div>

                <br>

                <button type="submit" class="btn btn-large waves-effect waves-light teal">Submit</button>
            </form>
        </div>

        <!-- Modal Structure -->
        <div id="foodProductModal" class="modal">
            <div class="modal-content">
                <h4>Add Food Product</h4>

                <form>
                    <div class="input-field col s6">
                        <input id="foodSearchTerm" type="text" class="validate">
                        <label for="foodSearchTerm">Food Name</label>
                    </div>
                    <button onclick="searchFood()" class="btn btn-large waves-effect waves-light teal">Search</button>
                </form>

                <div class="row">
                    <div class="col s6">
                        <div id="searchResultsLoader" class="preloader-wrapper big active" style="display: none">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                            </div>
                        </div>
                        <div id="searchResults"></div>
                    </div>
                    <div class="col s6">
                        <div id="viewFoodLoader" class="preloader-wrapper big active" style="display: none">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                            </div>
                        </div>
                        <div id="viewFood"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>

        <script>
            function searchFood() {
                let s = $("#foodSearchTerm").val()

                $("#searchResultsLoader").show();

                $.ajax({
                    type: "POST",
                    url: "{% url 'search_food' %}",
                    data: {
                        's': s
                    },
                    dataType: "json",
                    success: function (data) {
                        let foodHTML = "<table><tbody>";
                        $.each(data, function (k, v) {
                            foodHTML += "<tr id='foodRow" + k + "' class='foodList lighten-4' ><td>" +
                                "<a href='javascript:viewFood(" + k + ", \"" + v.name + "\")'>" + v.name + "</a></td></tr>";
                        });
                        foodHTML += "</tbody></table>"

                        $("#searchResultsLoader").hide()

                        $("#searchResults").html(foodHTML);
                    }
                });
            }

            function viewFood(id, name) {
                $(".foodList").removeClass('teal');
                $("#foodRow" + id).addClass('teal');
                $("#viewFoodLoader").show();

                $.ajax({
                    type: "POST",
                    url: "{% url 'view_food' %}",
                    dataType: 'json',
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        console.log(data);

                        let dataHTML = "<button onclick='addFood(" + id + ", \"" + name + "\")' class='btn btn-large waves-effect waves-light red'>Add to Meal</button>" +
                            "<i id='check" + id + "' class='material-icons' style='display: none'>done</i>" +
                            "<h5>Ingredients</h5><table><tbody>";

                        $.each(data.ingredients, function (k, v) {
                            dataHTML += "<tr><td>" + v.name + "</td></tr>";
                        })

                        dataHTML += "</tbody></table><h5>Nutrients</h5><table><tbody>";

                        $.each(data.nutrients, function (k, v) {
                            dataHTML += "<tr><td>" + v.name + "</td><td>" + v.amount + "</td><td>" + v.unit + "</td></tr>";
                        })

                        dataHTML += "</tbody></table>";

                        $("#viewFoodLoader").hide();
                        $("#viewFood").html(dataHTML);
                    }
                });
            }

            function addFood(id, name) {
                $("#foodList").append("<div id='foodList" + id + "' class='row'>" +
                    "<input id='foodProductList' value='" + id + "' hidden><h5>" + name + "</h5>" +
                    "<span class=\"btn waves-effect waves-light red remove\">Remove</span> " +
                    "</div>");
                $("#check" + id).show();

                $("#foodList" + id).on('click', 'span.remove', function () {
                    $("#foodList" + id).remove();
                });

            }

            function remove(id) {
                $("#" + id).remove();
            }
        </script>

    </div>
{% endblock %}